<ion-view view-title="second">
  <ion-content>
    <div class="header-quick-act">
        <!--<div class="back-button">
         <img src="../img/Assets/Global/Back-arrow.png"/>
        </div> -->
        <div class="header-logo">
          <!--<img src="../img/Assets/Logo_Header.png"/>-->
        </div>
    </div>
    <div class="question-bar">
      <p>Which would you like to do?</p>
    </div>
    <div class="breadcrumb">
      <span class="breadcrumb-area">
       <a href="#/tab/chats">03 Cosmetics</a>  
      </span> 
      <span>></span>
      <span class="breadcrumb-selected">
        Select Activity
      </span>  
    </div>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right  " ng-repeat="act in activities"  href="#/tab/problem">
        <div style="background-color: {{act.colour}} " class="inner-activity">
          <div class="inner-activity-container">
            <span class="area-number">{{act.id}}</span>
            <span class="area-image area-image-{{act.id}}"></span>
            <span class="area-category">{{act.name}}</span>
          
            <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
        </div>
        </div>
      </ion-item>



    </ion-list>
  </ion-content>
</ion-view>
